<h1>Admin Dashboard</h1>

<h2>Users</h2>
<table class="table table-dark table-striped table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">UUID</th>
      <th scope="col">Name</th>
      <th scope="col">Admin?</th>
      <th scope="col">Email Confirmed?</th>
      <th scope="col">Number of Visits</th>
      <th scope="col">Number of Sent Emails</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.admin? %></td>
        <td><%= !user.confirmed_at.nil? %></td>
        <td><%= user.visits.count %></td>
        <td><%= user.sent_emails.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
