<h1>Admin Dashboard</h1>

<br>
<h2>Pages</h2>
<table class="table table-dark table-striped table-hover table-sm">
  <thead>
  <tr>
    <th scope="col">UUID</th>
    <th scope="col">Title</th>
    <th scope="col">Subtitle</th>
    <th scope="col">Slug</th>
    <th scope="col">Created By</th>
    <th scope="col">Created At</th>
    <th scope="col">Published?</th>
  </tr>
  </thead>

  <tbody>
  <% @pages.each do |page| %>
    <tr>
      <td><%= page.id %></td>
      <td><%= page.title %></td>
      <td><%= page.subtitle %></td>
      <td><%= page.slug %></td>
      <td><%= page.user.try(:name) %></td>
      <td><%= page.created_at %></td>
      <td><%= !page.published_at.nil? %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav_js(@pages_pagination) if @pages_pagination.pages > 1 %>
<%== pagy_items_selector_js(@pages_pagination) %>

<br>
<h2>Users</h2>
<table class="table table-dark table-striped table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">UUID</th>
      <th scope="col">Name</th>
      <th scope="col">Admin?</th>
      <th scope="col">Email Confirmed?</th>
      <th scope="col">Number of Visits</th>
      <th scope="col">Number of Sent Emails</th>
      <th scope="col">Signed Up At</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.admin? %></td>
        <td><%= !user.confirmed_at.nil? %></td>
        <td><%= user.visits.count %></td>
        <td><%= user.sent_emails.count %></td>
        <td><%= user.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav_js(@users_pagination) if @users_pagination.pages > 1 %>
<%== pagy_items_selector_js(@users_pagination) %>

<br>
<h2>Login Activities</h2>
<table class="table table-dark table-striped table-hover table-sm">
  <thead>
  <tr>
    <th scope="col">UUID</th>
    <th scope="col">Email</th>
    <th scope="col">Success?</th>
    <th scope="col">Failure Reason</th>
    <th scope="col">Location</th>
    <th scope="col">Created At</th>
  </tr>
  </thead>

  <tbody>
  <% @login_activities.each do |login_activity| %>
    <tr>
      <td><%= login_activity.id %></td>
      <td><%= login_activity.identity %></td>
      <td><%= login_activity.success? %></td>
      <td><%= login_activity.failure_reason %></td>
      <% if login_activity.country.nil? and login_activity.region.nil? and login_activity.city.nil? %>
        <td>N/A</td>
      <% else %>
        <td><%= "#{login_activity.city}, #{login_activity.region}, #{login_activity.country}" %></td>
      <% end %>
      <td><%= login_activity.created_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav_js(@login_activities_pagination) if @login_activities_pagination.pages > 1 %>
<%== pagy_items_selector_js(@login_activities_pagination) %>

<br>
<h2>User Visits</h2>
<table class="table table-dark table-striped table-hover table-sm">
  <thead>
  <tr>
    <th scope="col">UUID</th>
    <th scope="col">User's Name</th>
    <th scope="col">User Agent</th>
    <th scope="col">Referrer</th>
    <th scope="col">Referring Domain</th>
    <th scope="col">Landing Page</th>
    <th scope="col">Browser</th>
    <th scope="col">OS</th>
    <th scope="col">Location</th>
    <th scope="col">Created At</th>
  </tr>
  </thead>

  <tbody>
  <% @visits.each do |visit| %>
    <tr>
      <td><%= visit.id %></td>
      <td><%= visit.user.try(:name) %></td>
      <td><%= visit.user_agent %></td>
      <td><%= visit.referrer %></td>
      <td><%= visit.referring_domain %></td>
      <td><%= visit.landing_page %></td>
      <td><%= visit.browser %></td>
      <td><%= visit.os %></td>
      <% if visit.country.nil? and visit.region.nil? and visit.city.nil? %>
        <td>N/A</td>
      <% else %>
        <td><%= "#{visit.city}, #{visit.region}, #{visit.country}" %></td>
      <% end %>
      <td><%= visit.started_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav_js(@visits_pagination) if @visits_pagination.pages > 1 %>
<%== pagy_items_selector_js(@visits_pagination) %>

<br>
<h2>User Events</h2>
<table class="table table-dark table-striped table-hover table-sm">
  <thead>
  <tr>
    <th scope="col">UUID</th>
    <th scope="col">Visit UUID</th>
    <th scope="col">User</th>
    <th scope="col">Name</th>
    <th scope="col">Properties</th>
    <th scope="col">Time</th>
  </tr>
  </thead>

  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td><%= event.id %></td>
      <td><%= event.visit.id %></td>
      <td><%= event.user.try(:name) %></td>
      <td><%= event.properties %></td>
      <td><%= event.time %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav_js(@events_pagination) if @events_pagination.pages > 1 %>
<%== pagy_items_selector_js(@events_pagination) %>

<br>
<h2>Sent Emails</h2>
<table class="table table-dark table-striped table-hover table-sm">
  <thead>
  <tr>
    <th scope="col">UUID</th>
    <th scope="col">Mailer</th>
    <th scope="col">Opened At</th>
    <th scope="col">Clicked At</th>
  </tr>
  </thead>

  <tbody>
  <% @sent_emails.each do |sent_email| %>
    <tr>
      <td><%= sent_email.id %></td>
      <td><%= sent_email.mailer %></td>
      <td><%= sent_email.opened_at %></td>
      <td><%= sent_email.clicked_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav_js(@sent_emails_pagination) if @sent_emails_pagination.pages > 1 %>
<%== pagy_items_selector_js(@sent_emails_pagination) %>

<br>
<h2>Links</h2>
<table class="table table-dark table-striped table-hover table-sm">
  <thead>
  <tr>
    <th scope="col">UUID</th>
    <th scope="col">Created By</th>
    <th scope="col">URL</th>
    <th scope="col">Slug</th>
    <th scope="col">Number of Times Used</th>
  </tr>
  </thead>

  <tbody>
  <% @links.each do |link| %>
    <tr>
      <td><%= link.id %></td>
      <td><%= link.user.name %></td>
      <td><%= link.url %></td>
      <td><%= link.slug %></td>
      <td><%= link.number_of_times_used %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav_js(@links_pagination) if @links_pagination.pages > 1 %>
<%== pagy_items_selector_js(@links_pagination) %>

<br>
<h2>Calendars</h2>
<table class="table table-dark table-striped table-hover table-sm">
  <thead>
  <tr>
    <th scope="col">UUID</th>
    <th scope="col">Name</th>
    <th scope="col">Created By</th>
    <th scope="col">Number of Events</th>
    <th scope="col">Created At</th>
  </tr>
  </thead>

  <tbody>
  <% @calendars.each do |calendar| %>
    <tr>
      <td><%= calendar.id %></td>
      <td><%= calendar.name %></td>
      <td><%= calendar.user.name %></td>
      <td><%= calendar.calendar_events.count %></td>
      <td><%= calendar.created_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav_js(@calendars_pagination) if @calendars_pagination.pages > 1 %>
<%== pagy_items_selector_js(@calendars_pagination) %>

<br>
<h2>Calendar Events</h2>
<table class="table table-dark table-striped table-hover table-sm">
  <thead>
  <tr>
    <th scope="col">UUID</th>
    <th scope="col">Name</th>
    <th scope="col">Created By</th>
    <th scope="col">Created At</th>
    <th scope="col">Description</th>
    <th scope="col">Duration</th>
  </tr>
  </thead>

  <tbody>
  <% @calendar_events.each do |calendar_event| %>
    <tr>
      <td><%= calendar_event.id %></td>
      <td><%= calendar_event.name %></td>
      <td><%= calendar_event.user.name %></td>
      <td><%= calendar_event.created_at %></td>
      <td><%= calendar_event.description %></td>
      <td><%= calendar_event.duration %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav_js(@calendar_events_pagination) if @calendar_events_pagination.pages > 1 %>
<%== pagy_items_selector_js(@calendar_events_pagination) %>
