<%= turbo_frame_tag dom_id(calendar_event) do %>
  <strong>Event:</strong> <%= calendar_event.name %>

  <% unless (calendar_event.user == calendar_event.calendar&.user) %>
    <strong>Creator:</strong>
    <%= calendar_event.user&.name %>
  <% end %>

  <strong><p><%= calendar_event.duration.begin.strftime("%l:%M %P") %>-<%= calendar_event.duration.end.strftime("%l:%M %P") %></p></strong>
<% end %>
