<%= turbo_frame_tag dom_id(calendar) do %>

  <div class="d-flex justify-content-center">
    <h1>Calendar: <%= calendar.name %></h1>
  </div>
  <hr>

  <%= month_calendar(events: calendar.calendar_events) do |date, events| %>

    <b><%= date.strftime("%-d") %></b>

    <% get_holidays(date).each do |holiday| %>
      <div>
        <%= holiday %>
      </div>
    <% end %>
    <hr>

    <ul class="list-group list-group-flush list-group-numbered">
    <% events.take(5).each do |event| %>
      <%= link_to calendar_event_path(event), class: 'list-group-item list-group-item-action' do %>
        <%= render event %>
      <% end %>
    <% end %>
    </ul>

  <% end %>

<% end %>
