<p>
  <strong>User:</strong>
  <%= calendar.user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= calendar.name %>
</p>

<%= month_calendar(events: calendar.calendar_events) do |date, events| %>
  <%= date %>

  <% events.each do |event| %>
    <div>
      <%= event.name %>
    </div>
  <% end %>
<% end %>
