<p>
  <strong>User:</strong>
  <%= calendar.user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= calendar.name %>
</p>

<%= month_calendar(events: calendar.calendar_events) do |date, events| %>
  <b><%= date.strftime("%-d") %></b>

  <% events.each do |event| %>
    <div>
      <%= event.name.truncate(30) %>
    </div>
  <% end %>
<% end %>
