<%= turbo_frame_tag dom_id(calendar) do %>

  <div class="d-flex justify-content-center">
    <h1>Calendar: <%= calendar.name %></h1>
  </div>
  <hr>

  <%= month_calendar(events: calendar.calendar_events) do |date, events| %>

    <b><%= date.strftime("%-d") %></b>

    <% get_holidays(date).each do |holiday| %>
      <div>
        <%= holiday %>
      </div>
    <% end %>
    <hr>

    <% events.each do |event| %>
      <div>
        <%= render event %>
      </div>
    <% end %>

  <% end %>

<% end %>
